In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dataset = pd.read_csv("Car details v3.csv")
print(dataset.head(2))

                           name  year  selling_price  km_driven    fuel  \
0        Maruti Swift Dzire VDI  2014         450000     145500  Diesel
1  Skoda Rapid 1.5 TDI Ambition  2014         370000     120000  Diesel

  seller_type transmission         owner     mileage   engine   max_power  \
0  Individual       Manual   First Owner   23.4 kmpl  1248 CC      74 bhp
1  Individual       Manual  Second Owner  21.14 kmpl  1498 CC  103.52 bhp

                torque  seats
0       190Nm@ 2000rpm    5.0
1  250Nm@ 1500-2500rpm    5.0

In [3]:
print(dataset.isnull().sum())

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          221
engine           221
max_power        215
torque           222
seats            221
dtype: int64

In [4]:
print(dataset.select_dtypes(include="object").isnull().sum())

name              0
fuel              0
seller_type       0
transmission      0
owner             0
mileage         221
engine          221
max_power       215
torque          222
dtype: int64

In [5]:
print(dataset.select_dtypes(include="object").columns)

Index(['name', 'fuel', 'seller_type', 'transmission', 'owner', 'mileage',
       'engine', 'max_power', 'torque'],
      dtype='object')

In [6]:
for i in dataset.select_dtypes(include="object").columns:
    dataset[i].fillna(dataset[i].mode()[0], inplace=True)

C:\Users\Horizon computer\AppData\Local\Temp\ipykernel_10820\3862753010.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[i].fillna(dataset[i].mode()[0], inplace=True)

In [7]:
print(dataset.select_dtypes(include="object").isnull().sum())

name            0
fuel            0
seller_type     0
transmission    0
owner           0
mileage         0
engine          0
max_power       0
torque          0
dtype: int64

In [8]:
print(dataset.select_dtypes(include="float64").isnull().sum())

seats    221
dtype: int64

In [9]:
print(dataset.select_dtypes(include="float64").columns)

Index(['seats'], dtype='object')

In [10]:
for i in dataset.select_dtypes(include="float64").columns:
    dataset[i].fillna(dataset[i].mean(), inplace=True)

C:\Users\Horizon computer\AppData\Local\Temp\ipykernel_10820\3908418288.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[i].fillna(dataset[i].mean(), inplace=True)

In [11]:
print(dataset.select_dtypes(include="float64").isnull().sum())

seats    0
dtype: int64

In [12]:
print(dataset.isnull().sum())

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
mileage          0
engine           0
max_power        0
torque           0
seats            0
dtype: int64

In [19]:
ne_dataset = (dataset[["fuel", "transmission"]])
print(ne_dataset)

        fuel transmission
0     Diesel       Manual
1     Diesel       Manual
2     Petrol       Manual
3     Diesel       Manual
4     Petrol       Manual
...      ...          ...
8123  Petrol       Manual
8124  Diesel       Manual
8125  Diesel       Manual
8126  Diesel       Manual
8127  Diesel       Manual

[8128 rows x 2 columns]

In [20]:
print(ne_dataset.isnull().sum())

fuel            0
transmission    0
dtype: int64

In [21]:
pd.get_dummies(ne_dataset).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   fuel_CNG                8128 non-null   bool
 1   fuel_Diesel             8128 non-null   bool
 2   fuel_LPG                8128 non-null   bool
 3   fuel_Petrol             8128 non-null   bool
 4   transmission_Automatic  8128 non-null   bool
 5   transmission_Manual     8128 non-null   bool
dtypes: bool(6)
memory usage: 47.8 KB

In [22]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
ohe = OneHotEncoder()
ar = ohe.fit_transform(ne_dataset).toarray()

In [24]:
pd.DataFrame(ar,columns=["fuel_CNG", "fuel_Diesel", "fuel_LPG"," fuel_Petrol", "transmission_Automatic", "transmission_Manual"])

,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,transmission_Automatic,transmission_Manual
0,0.0,1.0,0.0,0.0,0.0,1.0
1,0.0,1.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,1.0,0.0,1.0
3,0.0,1.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...
8123,0.0,0.0,0.0,1.0,0.0,1.0
8124,0.0,1.0,0.0,0.0,0.0,1.0
8125,0.0,1.0,0.0,0.0,0.0,1.0
8126,0.0,1.0,0.0,0.0,0.0,1.0
8127,0.0,1.0,0.0,0.0,0.0,1.0