In [4]:
import pandas as pd
import seaborn as sns

In [2]:
data = pd.read_csv("Car details v3.csv")
print (data.head())

                           name  year  selling_price  km_driven    fuel  \
0        Maruti Swift Dzire VDI  2014         450000     145500  Diesel
1  Skoda Rapid 1.5 TDI Ambition  2014         370000     120000  Diesel
2      Honda City 2017-2020 EXi  2006         158000     140000  Petrol
3     Hyundai i20 Sportz Diesel  2010         225000     127000  Diesel
4        Maruti Swift VXI BSIII  2007         130000     120000  Petrol

  seller_type transmission         owner     mileage   engine   max_power  \
0  Individual       Manual   First Owner   23.4 kmpl  1248 CC      74 bhp
1  Individual       Manual  Second Owner  21.14 kmpl  1498 CC  103.52 bhp
2  Individual       Manual   Third Owner   17.7 kmpl  1497 CC      78 bhp
3  Individual       Manual   First Owner   23.0 kmpl  1396 CC      90 bhp
4  Individual       Manual   First Owner   16.1 kmpl  1298 CC    88.2 bhp

                     torque  seats
0            190Nm@ 2000rpm    5.0
1       250Nm@ 1500-2500rpm    5.0
2     12.7@ 2,700(kgm@ rpm)    5.0
3  22.4 kgm at 1750-2750rpm    5.0
4     11.5@ 4,500(kgm@ rpm)    5.0

In [3]:
print (data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   seller_type    8128 non-null   object
 6   transmission   8128 non-null   object
 7   owner          8128 non-null   object
 8   mileage        7907 non-null   object
 9   engine         7907 non-null   object
 10  max_power      7913 non-null   object
 11  torque         7906 non-null   object
 12  seats          7907 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 825.6+ KB
None

In [20]:
new_data = (data[["transmission", "transmission"]])
print(new_data.isnull().sum())

transmission    0
transmission    0
dtype: int64

In [21]:
pd.get_dummies(new_data)

,transmission_Automatic,transmission_Manual,transmission_Automatic,transmission_Manual
0,False,True,False,True
1,False,True,False,True
2,False,True,False,True
3,False,True,False,True
4,False,True,False,True
...,...,...,...,...
8123,False,True,False,True
8124,False,True,False,True
8125,False,True,False,True
8126,False,True,False,True
8127,False,True,False,True

In [22]:
from sklearn.preprocessing import OneHotEncoder

In [33]:
ohe = OneHotEncoder(drop='first')
ar = ohe.fit_transform(new_data).toarray()

In [34]:
pd.DataFrame(ar, columns=["transmission(Manual=1, Automatic=0)", "transmission(Manual=1, Automatic=0)"])

      transmission(Manual=1, Automatic=0)  transmission(Manual=1, Automatic=0)
0                                     1.0                                  1.0
1                                     1.0                                  1.0
2                                     1.0                                  1.0
3                                     1.0                                  1.0
4                                     1.0                                  1.0
...                                   ...                                  ...
8123                                  1.0                                  1.0
8124                                  1.0                                  1.0
8125                                  1.0                                  1.0
8126                                  1.0                                  1.0
8127                                  1.0                                  1.0

[8128 rows x 2 columns]

In [36]:
# # only work if (drop="first") not use in "ohe = OneHotEncoder(drop='first')""


# pd.DataFrame(ar, columns=[	"transmission_Automatic", "transmission_Manual",	"transmission_Automatic", "transmission_Manual"])