In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv("fake_people_data.csv")
print (dataset.head())

     Name     Sex   Age Married Occupation
0   Usman  Female   NaN      No        NaN
1  Ayesha    Male   NaN      No    Teacher
2  Ayesha    Male  22.0     Yes    Teacher
3    Zain  Female  45.0     Yes    Teacher
4  Ayesha    Male  40.0     Yes   Engineer

In [3]:
print (dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        100 non-null    object
 1   Sex         100 non-null    object
 2   Age         80 non-null     float64
 3   Married     100 non-null    object
 4   Occupation  90 non-null     object
dtypes: float64(1), object(4)
memory usage: 4.0+ KB
None

In [4]:
print (dataset.isnull().sum())

Name           0
Sex            0
Age           20
Married        0
Occupation    10
dtype: int64

In [5]:
print(dataset.select_dtypes(include="object").isnull().sum())

Name           0
Sex            0
Married        0
Occupation    10
dtype: int64

In [6]:
print(dataset.select_dtypes(include="object").columns)

Index(['Name', 'Sex', 'Married', 'Occupation'], dtype='object')

In [7]:
for i in dataset.select_dtypes(include="object").columns:
    dataset[i].fillna(dataset[i].mode()[0], inplace=True)

C:\Users\Horizon computer\AppData\Local\Temp\ipykernel_11528\3862753010.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[i].fillna(dataset[i].mode()[0], inplace=True)

In [8]:
print(dataset.select_dtypes(include="object").isnull().sum())

Name          0
Sex           0
Married       0
Occupation    0
dtype: int64

In [9]:
print(dataset.select_dtypes(include="float64").isnull().sum())

Age    20
dtype: int64

In [10]:
print(dataset.select_dtypes(include="float64").columns)

Index(['Age'], dtype='object')

In [11]:
for i in dataset.select_dtypes(include="float64").columns:
    dataset[i].fillna(dataset[i].mean(), inplace= True)

C:\Users\Horizon computer\AppData\Local\Temp\ipykernel_11528\2843804686.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[i].fillna(dataset[i].mean(), inplace= True)

In [12]:
print(dataset.select_dtypes(include="float64").isnull().sum())

Age    0
dtype: int64

In [13]:
print(dataset.isnull().sum())

Name          0
Sex           0
Age           0
Married       0
Occupation    0
dtype: int64

In [14]:
new_dataset = (dataset[["Sex", "Married"]])
print(new_dataset.head())

      Sex Married
0  Female      No
1    Male      No
2    Male     Yes
3  Female     Yes
4    Male     Yes

In [15]:
pd.get_dummies(new_dataset)

    Sex_Female  Sex_Male  Married_No  Married_Yes
0         True     False        True        False
1        False      True        True        False
2        False      True       False         True
3         True     False       False         True
4        False      True       False         True
..         ...       ...         ...          ...
95       False      True        True        False
96       False      True       False         True
97        True     False        True        False
98       False      True        True        False
99        True     False        True        False

[100 rows x 4 columns]

In [21]:
new_dataset.shape

(100, 2)

In [16]:
from sklearn.preprocessing import OneHotEncoder

In [19]:
ohe = OneHotEncoder()
aa = ohe.fit_transform(new_dataset).toarray()

In [20]:
#only work if (drop="first") not use in "ohe = OneHotEncoder(drop='first')""

pd.DataFrame(aa, columns=["Sex_Female",	"Sex_Male",	"Married_No", "Married_Yes"])

    Sex_Female  Sex_Male  Married_No  Married_Yes
0          1.0       0.0         1.0          0.0
1          0.0       1.0         1.0          0.0
2          0.0       1.0         0.0          1.0
3          1.0       0.0         0.0          1.0
4          0.0       1.0         0.0          1.0
..         ...       ...         ...          ...
95         0.0       1.0         1.0          0.0
96         0.0       1.0         0.0          1.0
97         1.0       0.0         1.0          0.0
98         0.0       1.0         1.0          0.0
99         1.0       0.0         1.0          0.0

[100 rows x 4 columns]

In [1]:
pd.DataFrame(aa, columns=["Sex(Male=1, Female=0)", "Married(Yes=1, No=0)"])

NameError: name 'pd' is not defined