In [51]:
import pandas as pd

In [52]:
big_data = pd.read_csv("Car details v3.csv")
S_T = big_data["seller_type"]
S_T.unique()

array(['Individual', 'Dealer', 'Trustmark Dealer'], dtype=object)

In [53]:
or_ec_S_T = ([["Individual", "Dealer", "Trustmark Dealer" ]])

In [57]:
from sklearn.preprocessing import OrdinalEncoder

In [55]:
oe = OrdinalEncoder(categories=or_ec_S_T)
big_data["seller_type"] = oe.fit_transform(big_data[["seller_type"]])
big_data["seller_type"].unique()

array([0., 1., 2.])

In [56]:
big_data

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,0.0,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,0.0,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,0.0,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,0.0,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,0.0,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,0.0,Manual,First Owner,18.5 kmpl,1197 CC,82.85 bhp,113.7Nm@ 4000rpm,5.0
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,0.0,Manual,Fourth & Above Owner,16.8 kmpl,1493 CC,110 bhp,"24@ 1,900-2,750(kgm@ rpm)",5.0
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,0.0,Manual,First Owner,19.3 kmpl,1248 CC,73.9 bhp,190Nm@ 2000rpm,5.0
8126,Tata Indigo CR4,2013,290000,25000,Diesel,0.0,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0
8127,Tata Indigo CR4,2013,290000,25000,Diesel,0.0,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0

In [58]:
big_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   seller_type    8128 non-null   float64
 6   transmission   8128 non-null   object
 7   owner          8128 non-null   object
 8   mileage        7907 non-null   object
 9   engine         7907 non-null   object
 10  max_power      7913 non-null   object
 11  torque         7906 non-null   object
 12  seats          7907 non-null   float64
dtypes: float64(2), int64(3), object(8)
memory usage: 825.6+ KB

In [61]:
(big_data["seats"]).unique()

array([ 5.,  4., nan,  7.,  8.,  6.,  9., 10., 14.,  2.])

In [67]:
(big_data["seats"]).info()

<class 'pandas.core.series.Series'>
RangeIndex: 8128 entries, 0 to 8127
Series name: seats
Non-Null Count  Dtype
--------------  -----
7907 non-null   float64
dtypes: float64(1)
memory usage: 63.6 KB

In [66]:
big_data["seats"].fillna(big_data["seats"].mode()[0]).unique()

array([ 5.,  4.,  7.,  8.,  6.,  9., 10., 14.,  2.])

In [ ]:
or_seats = ([])