### Handling Missing Values

In [2]:
import pandas as pd

In [3]:
Data = pd.read_csv("dummy_data.csv")
print("Dummy Data Table \n") #focus on data labeling
print(Data)

Dummy Data Table

     Name Department             CNIC     Fall  Roll.No Section Grade
0  Salman         AI              NaN  2023-27     1045      1M    A+
1  Zohaib         CS  31102-4455103-9  2020-24     1003      2M   NaN
2    Maaz         SE  31103-2290003-4      NaN     1005      3M    B+
3  Nadeem        NaN              NaN  2019-23     1222       A   NaN
4  Zohaib         CS  31102-4455103-9  2020-24     1003      2M   NaN

In [4]:
print(Data.isnull().sum())

Name          0
Department    1
CNIC          2
Fall          1
Roll.No       0
Section       0
Grade         3
dtype: int64

In [5]:
print(Data.shape)

(5, 7)

In [7]:
print(Data.describe)

<bound method NDFrame.describe of      Name Department             CNIC     Fall  Roll.No Section Grade
0  Salman         AI              NaN  2023-27     1045      1M    A+
1  Zohaib         CS  31102-4455103-9  2020-24     1003      2M   NaN
2    Maaz         SE  31103-2290003-4      NaN     1005      3M    B+
3  Nadeem        NaN              NaN  2019-23     1222       A   NaN
4  Zohaib         CS  31102-4455103-9  2020-24     1003      2M   NaN>

In [22]:
print(Data["Grade"].isnull().sum())
print(Data["Grade"])

2
0     A+
1    NaN
2     B+
3    NaN
Name: Grade, dtype: object

In [14]:
df_cleaned = Data.dropna()
print(Data)

     Name Department             CNIC     Fall  Roll.No Section Grade
0  Salman         AI              NaN  2023-27     1045      1M    A+
1  Zohaib         CS  31102-4455103-9  2020-24     1003      2M   NaN
2    Maaz         SE  31103-2290003-4      NaN     1005      3M    B+
3  Nadeem        NaN              NaN  2019-23     1222       A   NaN
4  Zohaib         CS  31102-4455103-9  2020-24     1003      2M   NaN

In [15]:
Data["Roll.No"] = Data["Roll.No"].astype(int)

In [7]:
print(Data)

     Name Department             CNIC     Fall  Roll.No Section Grade
0  Salman         AI              NaN  2023-27     1045      1M    A+
1  Zohaib         CS  31102-4455103-9  2020-24     1003      2M   NaN
2    Maaz         SE  31103-2290003-4      NaN     1005      3M    B+
3  Nadeem        NaN              NaN  2019-23     1222       A   NaN
4  Zohaib         CS  31102-4455103-9  2020-24     1003      2M   NaN

In [10]:
print(Data)
Data.drop_duplicates(inplace=True)

     Name Department             CNIC     Fall  Roll.No Section Grade
0  Salman         AI              NaN  2023-27     1045      1M    A+
1  Zohaib         CS  31102-4455103-9  2020-24     1003      2M   NaN
2    Maaz         SE  31103-2290003-4      NaN     1005      3M    B+
3  Nadeem        NaN              NaN  2019-23     1222       A   NaN

In [21]:
Data.fillna({
    "Department" : "BBA",
    "Fall" : "2022_26",
    "Grade" : "B",
    "CNIC" : 0
}, inplace= True)
print(Data)

     Name Department             CNIC     Fall  Roll.No Section Grade
0  Salman         AI                0  2023-27     1045      1M    A+
1  Zohaib         CS  31102-4455103-9  2020-24     1003      2M     B
2    Maaz         SE  31103-2290003-4  2022_26     1005      3M    B+
3  Nadeem        BBA                0  2019-23     1222       A     B
4  Zohaib         CS  31102-4455103-9  2020-24     1003      2M     B

In [22]:
print(Data)

     Name Department             CNIC     Fall  Roll.No Section Grade
0  Salman         AI                0  2023-27     1045      1M    A+
1  Zohaib         CS  31102-4455103-9  2020-24     1003      2M     B
2    Maaz         SE  31103-2290003-4  2022_26     1005      3M    B+
3  Nadeem        BBA                0  2019-23     1222       A     B
4  Zohaib         CS  31102-4455103-9  2020-24     1003      2M     B

In [23]:
# # Data.fillna({
# #     "Department" : "BBA",
# #     "Fall" : "2022-26"
# # }, inplace= True)
# print(Data.dtypes)
print(Data["Fall"].isnull())

0    False
1    False
2    False
3    False
4    False
Name: Fall, dtype: bool

In [24]:
print(Data["Fall"])

0    2023-27
1    2020-24
2    2022_26
3    2019-23
4    2020-24
Name: Fall, dtype: object

In [26]:
Data["Fall"] = Data["Fall"].astype(str)
print(Data)

     Name Department             CNIC     Fall  Roll.No Section Grade
0  Salman         AI                0  2023-27     1045      1M    A+
1  Zohaib         CS  31102-4455103-9  2020-24     1003      2M     B
2    Maaz         SE  31103-2290003-4  2022_26     1005      3M    B+
3  Nadeem        BBA                0  2019-23     1222       A     B
4  Zohaib         CS  31102-4455103-9  2020-24     1003      2M     B

In [27]:
print(Data)

     Name Department             CNIC     Fall  Roll.No Section Grade
0  Salman         AI                0  2023-27     1045      1M    A+
1  Zohaib         CS  31102-4455103-9  2020-24     1003      2M     B
2    Maaz         SE  31103-2290003-4  2022_26     1005      3M    B+
3  Nadeem        BBA                0  2019-23     1222       A     B
4  Zohaib         CS  31102-4455103-9  2020-24     1003      2M     B