### DataFrame (df)

In [6]:
import pandas as pd

In [14]:
Data = {
    "Name"   : ["Salman", "Zeeshan", "Asad", "Abdullah"],
    "Age"    : [22, 18, 17, 14],
    "Salary" : [90000, 80000, 70000, 60000]
}

df = pd.DataFrame(Data, index=["a):", "b):", "c):", "d):"])
print(df)

         Name  Age  Salary
a):    Salman   22   90000
b):   Zeeshan   18   80000
c):      Asad   17   70000
d):  Abdullah   14   60000

### Loading CSV Fie

In [2]:
import pandas as pd
df = pd.read_csv("data.csv")
print(df)

      Name  Age  Salary
0    Alice   22   50000
1      Bob   30   60000
2  Charlie   28   55000
3    David   35   34000
4  Zeeshan   30  200000
5    Ahmed   21   30000

In [ ]:
print(df.isnull().sum())

Name      0
Age       0
Salary    0
dtype: int64

In [20]:
print(df.describe)

<bound method NDFrame.describe of       Name  Age  Salary
0    Alice   22   50000
1      Bob   30   60000
2  Charlie   28   55000
3    David   35   34000>

In [21]:
print (df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   Salary  4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 228.0+ bytes
None

In [22]:
print(df.shape)

(4, 3)

In [23]:
print(df.columns)

Index(['Name', 'Age', 'Salary'], dtype='object')

In [26]:
print(df["Age"])

0    22
1    30
2    28
3    35
Name: Age, dtype: int64

In [ ]:
df["Bonus"] = df["Salary"] * 0.2
print(df)

      Name  Age  Salary    Bonus
0    Alice   22   50000  10000.0
1      Bob   30   60000  12000.0
2  Charlie   28   55000  11000.0
3    David   35   34000   6800.0